html {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 50px 0;
  padding: 0;
  text-align: center;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.game {
  background: url(../img/background.png) center/cover;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  margin: auto;
  border-radius: 20px;
}

.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.game__btn {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: beige;
  border: 4px solid black;
  border-radius: 20%;
  transition: transform 200ms ease-in;
}

.game__btn:hover {
  transform: scale(1.1);
}

.game__timer {
  font-size: 35px;
  width: 100px;
  text-align: center;
  background-color: white;
  margin-top: 8px;
  border: 4px solid black;
  border-radius: 10px;
}

.game__score {
  background-color: darksalmon;
  font-size: 46px;
  color: white;
  text-align: center;
  margin-top: 8px;
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 50%;
}

.field {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.pop-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00000090;
  font-size: 60px;
  color: white;
  width: 400px;
  height: 124px;
  padding: 15px 0;
  margin: 0 auto;
  border-radius: 20px;
  transform: translateY(-130%);
}

.pop-up--hidden {
  display: none;
}

.pop-up__refresh {
  background-color: beige;
  width: 60px;
  height: 60px;
  font-size: 24px;
  border: 4px solid black;
  border-radius: 20%;
  transition: transform 200ms ease-in;
}

.pop-up__refresh:hover {
  transform: scale(1.1);
}
